/* ------------ GENERAL ------------ */

*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
}

h2{
  margin: 0 0 1em 0;
  font-family: system-ui, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

p{
  margin: 1em 0;
  font-family: system-ui, sans-serif;
  font-size: 0.9em;
  font-weight: 100;
}

/* ------------ VUE APP ------------ */

#v_app{
  display: grid;
  grid-template-columns: 20% 80%;
}

/* ------------ HEADER & NAV ------------ */

header{
  grid-column: 1 / 3;
  width: 100%;
  height: 8vh;
  background-color: #4D2C91;
}

nav{
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 8vh;
}

nav > ul{
  display: flex;
  margin: 0 0 0 auto;
  justify-content: space-between;
  padding-right: 2em;
  width: auto;
}

nav > ul > li{
  display:inline-block;
  margin-right: 2em;
}

nav > ul > li:last-child{
  margin-right: 0;
}

nav > ul > li > a{
  font-family: system-ui, sans-serif;
  font-size: 0.8em;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

nav > ul > li > a:hover{
  color: #FFA726;
}

/* ------------ ASIDE ------------ */

aside{
  height: auto;
}

aside > ul{
  list-style-type: none;
}

aside > ul > li{
  padding: 2em;
  font-family: system-ui, sans-serif;
  font-size: 0.9em;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s ease;
  cursor: pointer;
  background-color: #7C7C7C;
}

aside > ul > li:nth-child(odd){
  background-color: #6D6D6D;
}

aside > ul > li:first-child{
  border-left: 0.5em solid #FFA726;
}

aside > ul > li:last-child{
  margin: 0;
}

aside > ul > li:hover{
  border-left: 0.5em solid #FFA726;
}

/* ------------ MAIN ------------ */

main{
  padding: 2em;
  float: left;
  height: auto;
  background-color: #fafafa;
}

main > section > article > label{
  display: block;
  margin: 0 0 0.4em;
  font-family: system-ui, sans-serif;
  font-size: 0.9em;
  font-weight: 500;
}

/* ------------ QUESTIONS ------------ */

.questions{
  display: grid;
  margin-top: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}
